input, button {
    font-family: monospace;
    
}
body {
    background: #344966
}

h3 {
    font-family: sans-serif;
}

.main-div {
    padding: 20px;
    margin: 0px auto;
    background-color: #433e3f;
    width: 25%;
    border: 1px solid #000;
    outline: none;
    width: 50%;
    font-size: 18px;
    text-align: center;
}

.main-div h2 {
    color: lime;
}
.welcome {
    color: orange;
}

.logincss-div {
    
    padding: 20px;
    margin: 0px auto;
    /*background-color: #f5853f;*/
    background-color: #f5853f;
    border: 1px solid #000;
    outline: none;
    width: 50%;
    font-size: 18px;
    text-align: center;
}
.logincss-div h3 {
    color: azure;
}

.loogo {
    text-align: left;
    background-color: #344966;
    height: 105px;
    padding: 10px
}
.loogo img {
    height: 105px;
    width: auto;
    flex-wrap: wrap;
}

.main-div button, .logout-div button, .logincss-div button {
    background-color: #d7dedc;
    flex-wrap: wrap-reverse;
    
}

#user_para {
    font-size: 13px;
}

.main-div button:hover, .logout-div button:hover, logincss-div button:hover {
    background: #fff;
    color: #5d8ffc;
}

.logout-div {
    text-align: center;
    position: fixed;
    top: 0;
    width: 200px;
    padding: 0px;
    background-color: #d7dedc;
    //margin-left: 40%;
}

h1, h2, h4 {
    text-align: center;
}

.sampleimages {
    text-align: center;
}
.landing-text {
    
    padding: 2px;
    width: 100%;

}

.landing-text h3 {
    color: orange;
}

.landing-text img, visionboard img {
    /max-width: 24.8%;
    max-height: 200px;
    display: inline-flex;
}

.upload_group {
    display: flex;
    min-height: 40vh;
    width: 100%;
    height: 25%;
    padding: 0px;
    margin: 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.userdetails {
    text-align: center;
    background-color: #433e3f;
    margin: 15px;
    padding: 0px;
    color: orange;
}

.listRef h2 {
    color: orange;
}
.mainlink {
    ext-decoration: none;
    color: orange;
}
